@import '@angular/material/prebuilt-themes/indigo-pink.css';  
.container {
    margin-top: 30px;
}

.add-comanda {
    margin-bottom: 30px;
}

.list-comanda {
    margin-bottom: 50px;
}

.btn-add-comanda {
    margin-right: 10px;
}
